// Place all the styles related to the travels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the travel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-page{
  background-image: url("/images/top.png");
  max-width:100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  position:relative;
}

.sign{
  
  &__button{
    position:absolute;
    left:40%;
    top:80%;
    color:white;
  }

  &__button a{
    color:white;
  }
}


@media (max-width: 770px){

  .top-page {
    height:432px;
  }

  .sign{

    &__button{
      left:35%;
    }
  }

}

@media (max-width: 640px){
  .top-page {
    height:215px;
  }

  .sign{
    
    &__button{
      display:flex;
      left:14%; 
      top:72%;	
    }
  }

}


