// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-up {
  height: 100vh;
  max-width: 100%;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;


  &__enlist { 
    &__field {
      margin-top: 30px;
    }
  }

  &__actions {
    margin-top: 50px;
    color: white;
  }
}

.sign-in {
  height: 100vh;
  max-width: 100%;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;


  &__enlist { 
    &__field {
      margin-top: 30px;
    }
  }

  &__check {
    margin-top: 15px;
  }

  &__actions {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
  }
}