<div class=top-page>
  <div class="sign-button">
	<button type="button" class="btn btn-primary btn-lg mr-3"><i class="fa fa-user-plus" aria-hidden="true"></i>新規登録</button>
	<button type="button" class="btn btn-danger btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i>ログイン</button>
  </div>
</div>

