<div class=top-page>
  <div class="sign-button">
	<button type="button" class="btn btn-primary btn-lg mr-3"><i class="fa fa-user-plus" aria-hidden="true"></i>新規登録</button>
	<button type="button" class="btn btn-danger btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i>ログイン</button>
  </div>

  <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
	<div class="sign-button">
	<button type="button" class="btn btn-primary btn-lg mr-3"><i class="fa fa-user-plus" aria-hidden="true"></i>旅行企画</button>
	<button type="button" class="btn btn-danger btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
  </div>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <div class="sign-button">
	<button type="button" class="btn btn-primary btn-lg mr-3"><i class="fa fa-user-plus" aria-hidden="true"></i><%= link_to "新規登録", new_user_registration_path, class: 'post' %></button>
	<button type="button" class="btn btn-danger btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i>ログイン</button>
  </div>
<% end %>

</div>

