<div class=top-page>
	<div class="site-title text-center">
		<h1>トモタビ</h1>
	</div>

	<div class="global-menu">
    	<ul>
      		<li>新規登録</li>
      		<li>ログイン</li>
    	</ul>
	</div>
	<div class="sub-title text-center">
		<p>さぁ、みんなで世界を旅しよう！</p>
	</div>

</div>

<div class="new-travels container">
	<div class="menu-titile text-center">
		<h2>新着旅行企画</h2>
		<% @plans .each do |plan| %>
		<h2><%= plan.title %></h2>
		<p><%= plan.content %></p>
		<% end %>

		
	</div>

	
	
</div>

